@*https://www.jqueryscript.net/other/jQuery-Plugin-For-Easily-Readable-JSON-Data-Viewer.html*@
<div class="w3-container w3-margin">
    <header class="w3-text-blue-gray">
        <h2 class="w3-margin-top"><b>Pushed Call <span class="w3-text-indigo">ProjectSumbitted</span></b></h2>
    </header>


    <div class="w3-row-padding">
        <div class="w3-col s6">
            <header class="w3-text-indigo">
                <h4 class="w3-margin-top"><b>Input</b></h4>
            </header>
            <span class="JsonObject" style=" word-wrap: break-word;">
                {"CurrentProject":{"Id":100,"Name":"string","Description":"string","IsResubmit":false},"ManagerOneApproval":true,"ManagerTwoApproval":false,"ManagerThreeApproval":false,"ManagerFourApproval":false,"ManagerFiveApproval":false,"ExternalMethodStatus":"Not matched yet."}
            </span>
        </div>
        <div class="class=" w3-col s6"">
            <header class="w3-text-indigo">
                <h4 class="w3-margin-top"><b>Output</b></h4>
            </header>
            <span class="JsonObject" style=" word-wrap: break-word;">
                {"CurrentProject":{"Id":100,"Name":"string","Description":"string","IsResubmit":false},"ManagerOneApproval":true,"ManagerTwoApproval":false,"ManagerThreeApproval":false,"ManagerFourApproval":false,"ManagerFiveApproval":false,"ExternalMethodStatus":"Not matched yet."}
            </span>
        </div>
    </div>

    @* <header class="w3-text-indigo">
    <h4 class="w3-margin-top"><b>Actions</b></h4>
    </header>
    <button class="w3-button w3-indigo">Re-push</button>
    <button class="w3-button w3-indigo">Cancel Active Waits</button>
    <button class="w3-button w3-indigo">Reopen Completed Waits</button>*@
    <br />
    <header class="w3-text-indigo">
        <h4 class="w3-margin-top"><b>Waits (10)</b></h4>
    </header>
    <p class="w3-col m6 l4">
        <select class="w3-select" name="option">
            <option value="" disabled selected>Choose a Type</option>
            <option value="1">Expected Match (3)</option>
            <option value="3">Matched (2)</option>
            <option value="3">Not Matched (4)</option>
            <option value="3">All (10)</option>

        </select>
    </p>
    <table class="w3-table-all w3-padding-32" style="width: 100%;table-layout: fixed;">
        <thead>
            <tr class="w3-indigo">
                <th width="50%">Wait Details</th>
                <th width="150px">Type</th>
                <th width="120px">Created</th>
                <th width="120px">Matched</th>
                <th width="30%">Actions</th>
            </tr>
        </thead>
        <tr>
            <td>
                <ul>
                    <li><b>Name: </b>Wait Project Submit</li>
                    <li><b>Status: </b><span class="w3-text-green">Completed</span></li>
                    <li><b>In Function Instance: </b><a href="~/rfui/ResumableFunctionInstances" class="w3-text-blue">ProjectApprovalWorkflowStart</a></li>
                    <li><b>Match If: </b>output && !input.IsResubmit</li>
                    <li><b>After Match Set: </b>instance.CurrentProject = project</li>
                </ul>
            </td>

            <td>Expected Match</td>
            <td>12/02/2022</td>
            <td>12/02/2023</td>
            <td>
                <button class="w3-button w3-tiny w3-indigo">Wait Again</button>
                <button class="w3-button w3-tiny w3-indigo">Cancel</button>
                <button class="w3-button w3-tiny w3-indigo">Cancel for this call</button>
                <button class="w3-button w3-tiny w3-indigo">Evalute if Match</button>
            </td>
        </tr>

    </table>
</div>