<div class="w3-margin">
    <header class="w3-text-indigo">
        <h2 class="w3-margin-top"><b>Latest Log Errors</b></h2>
    </header>

    <div class="w3-container">
        <div class="w3-margin">
            <div class="w3-panel w3-deep-orange">
                <h5>Error!</h5>
                <p>Red often indicates a dangerous or negative situation.</p>
            </div>
            <div class="w3-panel w3-amber">
                <h5>Warning!</h5>
                <p>Red often indicates a dangerous or   dfgfbf fvjdkjksdikc cikxjcm negative situation.</p>
            </div>
            <div class="w3-panel w3-green">
                <h5>Info!</h5>
                <p>Red often indicates a dangerous or negative situation.</p>
            </div>
        </div>
        <button class="w3-button w3-indigo w3-margin-top">Show More...</button>
    </div>
</div>
