<div class="w3-margin">
    <header class="w3-text-indigo">
        <h2 class="w3-margin-top"><b>Latest Log Errors</b></h2>
    </header>

    <div class="w3-container">
        <partial name="./_ScanLogs" />
        <button class="w3-button w3-indigo w3-margin-top">Show More...</button>
    </div>
</div>