@using ResumableFunctions.Handler.InOuts;
@model List<LogRecord>
<div class="w3-margin">
    <header class="w3-text-indigo">
        <h2 class="w3-margin-top"><b>Service Scan Log</b></h2>
    </header>

   
    <div class="w3-container">


        <div class="w3-row w3-margin w3-padding">
          
            <div class="w3-col l2" style="width:300px">
                <input class="w3-check" type="checkbox" checked="checked" onchange="toggleShow('.log-item-Warning')">
                <label>Hide/Show @(Model.Count(x => x.Type == LogType.Warning)) Warning</label>
            </div>
            <div class="w3-col l2" style="width:300px">
                <input class="w3-check" type="checkbox" checked="checked" onchange="toggleShow('.log-item-Info')">
                <label>Hide/Show @(Model.Count(x => x.Type == LogType.Info)) Info</label>
            </div>
        </div>
        
        <div class="w3-margin">
            @for (int i = 0; i < Model.Count; i++)
            {
                @Html.DisplayFor(x => Model[i])
            }
        </div>
        @*<button class="w3-button w3-indigo w3-margin-top">Show More...</button>*@
    </div>
</div>
