@*Services*@
<div class="w3-margin-buttom">

    <div class="w3-bar-block w3-light-grey w3-cell w3-border-right">
        <button class="w3-bar-item w3-button tablink w3-indigo"
                onclick="openViewPart(event, 'service-details')">
            TestApi1 Service Details
        </button>
        <button class="w3-bar-item w3-button tablink"
                onclick="openViewPart(event, 'scan-logs')">
            Scan Logs
        </button>
        <button class="w3-bar-item w3-button tablink"
                onclick="openViewPart(event, 'resumable-functions')">
            Resumable Functions(10)
        </button>
        <button class="w3-bar-item w3-button tablink"
                onclick="openViewPart(event, 'methods')">
            Methods(34)
        </button>
        <button class="w3-bar-item w3-button w3-text-indigo">
            <b> Back to Services</b>
        </button>
    </div>

    <div class="w3-cell">

        <div id="service-details" class="ViewPart w3-margin">
            <partial name="./_ServiceInfo" />
        </div>

        <div id="scan-logs" class="w3-margin ViewPart" style="display:none">
            <header class="w3-text-indigo">
                <h2 class="w3-margin-top"><b>Scan Logs</b></h2>
            </header>
            <partial name="./_ScanLogs" />
        </div>

        <div id="resumable-functions" class="w3-margin ViewPart" style="display:none">
            <partial name="./_ResumableFunctionsList" />
        </div>

        <div id="methods" class="w3-margin ViewPart" style="display:none">
            <partial name="./_MethodsList" />
        </div>
    </div>
  
</div>

