@using ResumableFunctions.Handler.InOuts;
@model FunctionWait
<li>
    <div class="w3-card w3-green w3-padding w3-round">
        <h6><b>Function @Model.Name</b></h6>
        <span><b>Status: </b>@Model.Status</span>
    </div>
</li>