@using ResumableFunctions.Handler.InOuts;
@model LogRecord
@{
    var type = Model.TypeClass();
}
<div class="w3-panel @type.Class log-item-@Model.Type">
    <h5><b>@type.Title [@Model.Created]</b></h5>
    <p>@Model.Message</p>
</div>