@using ResumableFunctions.Handler.InOuts;
@model MethodWait
<li>
    <div class="w3-card w3-green w3-padding w3-round">
        <h6><b>@Model.Name</b></h6>
        <span><b>Type: </b>Method Wait</span>
        <span><b>Status: </b>@Model.Status</span>
    </div>
</li>