@using ResumableFunctions.Handler.InOuts;
@using ResumableFunctions.Handler.UiService.InOuts;
@model WaitTemplate
@{
    var template = new TemplateDisplay(Model);
}

<span class="tab"><b class="w3-text-blue-gray">Match Expression: </b>@template.MatchExpression</span>
<br />
<span class="tab"><b class="w3-text-blue-gray">Set Data: </b><span>@Html.Raw(template.SetDataExpression)</span></span>
<br />
<span class="tab"><b class="w3-text-blue-gray">Mandatory Parts Expression: </b>@template.MandatoryPartExpression</span>
