@using ResumableFunctions.Handler.InOuts;
@using ResumableFunctions.Handler.UiService.InOuts;
@model WaitTemplate
@{
    var template = new TemplateDisplay(Model);
}

<tr>
    <td><b class="w3-text-blue-gray">Match Expression: </b></td>
    <td>@template.MatchExpression</td>
</tr>
<tr>
    <td><b class="w3-text-blue-gray">Call Mandatory Parts: </b></td>
    <td>@template.MandatoryPartExpression</td>
</tr>
