<div class="w3-container w3-margin">
    <header class="w3-text-indigo">
        <h2><b>Methods Identifiers</b></h2>
    </header>
    <div class="w3-container">
        <p>
            <label>Search</label>
            <input class="w3-input w3-border" type="text" required="" placeholder="Search by Method Name">
        </p>
        <table class="w3-table-all">
            <thead>
                <tr class="w3-indigo">
                    <th>Assembly Name</th>
                    <th>Class Name</th>
                    <th>Method Name</th>
                    <th>Can Publish From External</th>
                    <th>Created</th>
                    <th>Modified</th>
                </tr>
            </thead>
            <tr>
                <td><a class="w3-text-blue" href="~/rfui/ServiceDetails">TestApi1</a></td>
                <td>TestApi1.Examples.ExternalServiceClass</td>
                <td>ExternalMethodTest</td>
                <td>True</td>
                <td>12/02/2022</td>
                <td>12/02/2023</td>
            </tr>
            <tr>
                <td><a class="w3-text-blue" href="~/rfui/ServiceDetails">TestApi1</a></td>
                <td>TestApi1.Examples.ExternalServiceClass</td>
                <td>ExternalMethodTest</td>
                <td>True</td>
                <td>12/02/2022</td>
                <td>12/02/2023</td>
            </tr>
        </table>
    </div>
</div>