@*Latest Logs*@
<div class="w3-margin-buttom w3-border-bottom w3-border-indigo w3-bottombar w3-padding-16">
    <header class="w3-container w3-text-indigo">
        <h2 class="w3-margin-top"><b><i class="fa fa-dashboard"></i>Latest Log Errors</b></h2>
    </header>
    <div class="w3-container">
        <partial name="./_ScanLogs" />
        <button class="w3-button w3-indigo w3-margin-top">Show All</button>
    </div>
</div>