<h2>Methods</h2>
<div class="w3-container">
    <table class="w3-table-all">
        <thead>
            <tr class="w3-indigo">
                <th>Method group URN</th>
                <th>Variations</th>
                <th>Active Waits</th>
                <th>Matched Waits</th>
                <th>Created</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tr>
            <td><a href="#swagger" class="w3-text-blue">ProjectSumbmitted</a></td>
            <td><a href="#completed" class="w3-text-blue">12</a></td>
            <td><a href="#completed" class="w3-text-blue">1</a></td>
            <td><a href="#completed" class="w3-text-blue">122</a></td>
            <td>12/02/2022</td>
            <td>12/02/2023</td>
        </tr>
        <tr>
            <td><a href="#swagger" class="w3-text-blue">ManagerOneApproval</a></td>
            <td><a href="#completed" class="w3-text-blue">45</a></td>
            <td><a href="#completed" class="w3-text-blue">0</a></td>
            <td><a href="#completed" class="w3-text-blue">1233</a></td>
            <td>12/02/2020</td>
            <td>12/02/2023</td>
        </tr>
    </table>
</div>