@*Services*@
    <div class="w3-margin-buttom w3-border-bottom w3-border-indigo w3-bottombar w3-padding-32">
        <header class="w3-container w3-text-indigo">
            <h2 class="w3-margin-top"><b><i class="fa fa-dashboard"></i>Services List</b></h2>
        </header>
        <div class="w3-container">
            <table class="w3-table-all">
                <thead>
                    <tr class="w3-indigo">
                        <th>Service Name</th>
                        <th>Service Url (Swagger)</th>
                        <th>Scan Logs</th>
                        <th>Resumable Functions</th>
                        <th>Method Waits</th>
                        <th>External Method Waits</th>
                        <th>Hangfire Dashboard</th>
                    </tr>
                </thead>
                <tr>
                    <td><a href="#details" class="w3-text-blue">TestApi1</a></td>
                    <td><a href="#swagger" class="w3-text-blue">http://localhost:2323</a></td>
                    <td><a href="#" class="w3-text-green">No Errors (Show Log)</a></td>
                    <td><a href="#res" class="w3-text-green">50(No Errors)</a></td>
                    <td><a href="#res">123</a></td>
                    <td><a href="#res">12</a></td>
                    <td><a href="#hangfire" class="w3-text-blue">Go To</a></td>
                </tr>
                <tr>
                    <td><a href="#details" class="w3-text-blue">ClientOnboarding</a></td>
                    <td><a href="#swagger" class="w3-text-blue">http://localhost:3333</a></td>
                    <td><a href="#res" class="w3-text-red">12 Error (Show Log)</a></td>
                    <td><a href="#res" class="w3-text-red">33(5 Errors)</a></td>
                    <td><a href="#res">234</a></td>
                    <td><a href="#res">12</a></td>
                    <td><a href="#hangfire" class="w3-text-blue">Go To</a></td>
                </tr>
            </table>
        </div>
    </div>
