<h2>TestApi1 Service Details</h2>
<table class="w3-table" style="width:100%;">
    <tr>
        <td><b>Service Name:</b></td>
        <td>TestApi1</td>
    </tr>
    <tr>
        <td><b>Service Url:</b></td>
        <td><a class="w3-text-blue" href="https://localhost:4555">https://localhost:4555</a></td>
    </tr>
    <tr>
        <td><b>Hangfire Url:</b></td>
        <td><a class="w3-text-blue" href="https://localhost:4555/hangfire">https://localhost:4555/hangfire</a></td>
    </tr>
    <tr>
        <td><b>Swagger Url:</b></td>
        <td><a class="w3-text-blue" href="https://localhost:4555/swagger">https://localhost:4555/swagger</a></td>
    </tr>
    <tr>
        <td><b>Other Dlls:</b></td>
        <td>Abc.test.dll, MRZ.dll</td>
    </tr>
    <tr>
        <td><b>Registration Date:</b></td>
        <td>08/05/2023</td>
    </tr>
    <tr>
        <td><b>Last Scan Date:</b></td>
        <td>10/05/2023</td>
    </tr>
    <tr>
        <td><b>Scan Errors Count:</b></td>
        <td>10</td>
    </tr>
</table>
<h2>Actions</h2>
<button class="w3-button w3-indigo">Rescan Service</button>
<button class="w3-button w3-indigo">Verify Scanned Methods </button>
<button class="w3-button w3-indigo">Verify Start Waits</button>