@*https://www.jqueryscript.net/other/jQuery-Plugin-For-Easily-Readable-JSON-Data-Viewer.html*@
<div class="w3-container w3-margin">
    <header class="w3-text-blue-gray">
        <h2 class="w3-margin-top">
            <b>
                <span class="w3-text-indigo">ProjectApprovalExample.ProjectApprovalFlow</span> 
                Instance <span class="w3-text-indigo">135</span>  Details
            </b>
        </h2>
    </header>
    <header class="w3-text-indigo">
        <h4 class="w3-margin-top"><b>Details</b></h4>
    </header>
    <table class="w3-table">
        <tr>
            <th width="250px"><b>Function Name:</b></th>
            <th>ProjectApprovalExample.ProjectApprovalFlow</th>
        </tr>
        <tr>
            <td><b>Status:</b></td>
            <td class="w3-text-green">Completed</td>
        </tr>
        <tr>
            <td><b>State Object:</b></td>
            <td class="jsonContainer">
                <pre>
                <code class="JsonObject">{"CurrentProject":null,"ManagerOneApproval":true,"ManagerTwoApproval":false,"ManagerThreeApproval":false,"ManagerFourApproval":false,"ManagerFiveApproval":false,"ExternalMethodStatus":"Not matched yet."}</code>
                </pre>
            </td>
        </tr>
        <tr>
            <td><b>Creation Date:</b></td>
            <td>08/05/2023</td>
        </tr>
        <tr>
            <td><b>Last Modified:</b></td>
            <td>10/05/2023</td>
        </tr>
        <tr>
            <td><b>Scan Errors Count:</b></td>
            <td>10</td>
        </tr>
    </table>
    <br />
    <input class="w3-button w3-indigo" type="button" onclick="location.href='https://google.com';" value="Back to Function Intstances" />

    <header class="w3-text-indigo">
        <h4 class="w3-margin-top"><b>Waits Tree</b></h4>
    </header>
    <ul class="w3-ul">
        <li>
            <div>
                <span>Method Wait</span>
                <span>ProjectSumbitted</span>
            </div>
        </li>
    </ul>
    <header class="w3-text-indigo">
        <h4 class="w3-margin-top"><b>Log History</b></h4>
    </header>
    <ul class="w3-ul">
        <li>
            <div>
                <span>Method Wait</span>
                <span>ProjectSumbitted</span>
            </div>
        </li>
    </ul>
</div>